# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.ipynb_checkpoints/

# Data (don't push large files)
data/raw/*.fasta
data/processed/*.pt
*.h5

# Models (checkpoints can be large)
*.pth
*.ckpt

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
